@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Questrial&display=swap');
//Colores
$color-pink-ff: #ff5672;
$color-white-ff: #ffffff;
$color-gray-f6: #f6f6f6;
$color-gray-a3: #a3a3a3;


//Fuente
$font-big: 40px;
$font-small: 17px;

//Familia
$questrial: 'Questrial', sans-serif;
$montserrat: 'Montserrat', sans-serif;