<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Questrial&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <title>SNEAK</title>
</head>

<body class="main">
  <header class="main__nav">
    <div class="nav-list">
      <div class="wrapper-icon">
        <img class="logo-home" src="../assets/logo.png" alt="">
      </div>
      <div class="nav-list__wrapper">
        <ul class="nav-list">
          <li class="nav-list__item nav-list__item--active"><button class="item__category">All</button></li>
          <li class="nav-list__item"><button class="item__category">Branding</button></li>
          <li class="nav-list__item"><button class="item__category">Web</button></li>
          <li class="nav-list__item"><button class="item__category">Photography</button></li>
          <li class="nav-list__item"><button class="item__category">App</button></li>
          <li class="nav-list__search">
            <input onchange="" type="text" class="search" id="searchBar">
          </li>
        </ul>
      </div>
      <div class="nav-list__wrapper-mobil">
        <input name="category" type="checkbox" id="show-menu">
        <label for="show-menu"><img src="../assets/menu_open-24px.svg" alt=""></label>
        <ul class="nav-list-mobil" id="sidebar">
          <li class="closed"><label for="show-menu"><img src="../assets/close.svg" alt=""></label></li>
          <li class="nav-list__item">
            <input name="category" type="radio" id="all-mobil" checked>
            <label for="all-mobil" class="container-li checkmark" > All
       </label>
          </li>
          <li class="nav-list__item">
            <input name="category" type="radio" id="branding-mobil" >
            <label for="branding-mobil" class="container-li checkmark" > Branding</label>
          </li>
          <li class="nav-list__item">
            <input name="category" type="radio" id="web-mobil">
            <label for="web-mobil" class="container-li checkmark" >Web</label>
          </li>
          <li class="nav-list__item">
            <input name="category" type="radio" id="photography-mobil">
            <label for="photography-mobil" class="container-li checkmark" >Photography</label>
          </li>
          <li class="nav-list__item">
            <input name="category" type="radio" id="app-mobil">
            <label for="app-mobil" class="container-li checkmark" >App</label>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <section class="body">
    <div class="banner">
      <div class="slogan-main">
        <h3 class="slogan-main__title">EXPLORE BEYOND HORIZON</h3>
        <p class="slogan-main__subtitle">Magna mundi referrentur quo, no rebum dignissim qui.
          Per quodsi accusata id, agam labores.</p>
        <button type="submit" class="btn btn--white">VIEW OUR WORK</button>
      </div>
    </div>
    <div class="wrapper-catalogue">
      <div class="wrapper-catalogue__show-list">
        <div class="show-cube"> 
          <input checked type="radio" name="show" id="showcube" value="showcube" onchange="changeList(value )" class="radio">
          <label class="label" for="showcube">
           <img src="../assets/dashboard-black-18dp.svg" alt=""> 
          </label>
        </div>
        <div class="show-list">
          <input type="radio" name="show" value="showlist" id="showlist" onchange="changeList(value)"  class="radio">
          <label class="label" for="showlist">
            <img src="../assets/view_list-24px.svg" alt=""> 
          </label>
        </div>
      </div>
    </div>
    <header class="main__nav main__nav--center">
      <div class="nav-list__wrapper">
        <ul class="nav-list__center">
          <li class="nav-list__item">
            <input name="categories" type="radio" id="all" checked>
            <label for="all" class="container-li checkmark" > All
       </label>
          </li>
          <li class="nav-list__item">
            <input name="categories" type="radio" id="branding" >
            <label for="branding" class="container-li checkmark" > Branding</label>
          </li>
          <li class="nav-list__item">
            <input name="categories" type="radio" id="web">
            <label for="web" class="container-li checkmark" >Web</label>
          </li>
          <li class="nav-list__item">
            <input name="categories" type="radio" id="photography">
            <label for="photography" class="container-li checkmark" >Photography</label>
          </li>
          <li class="nav-list__item">
            <input name="categories" type="radio" id="app">
             <label for="app" class="container-li checkmark">App</label>
          </li>
        </ul>
      </div>
      </div>
    </header>
    <div class="container massonry" id="gallery">
    </div>
    <div class="show-more">
      <button type="button" class="btn btn--pink"  id="loadMore">Show Me More</button>
    </div>
  </section>
  <footer class="footer-gnrl">
    <p class="footer-gnrl__text">2016 - <span>Sneak</span> All Right Reserved</p>
    <div class="content-icon">
      <ul class="content-icon__list">
        <li class="item-icon"><img class="img" src="../assets/facebook.svg" alt=""></li>
        <li class="item-icon"><img class="img" src="../assets/twiter.svg" alt=""></li>
        <li class="item-icon"><img class="img" src="../assets/drible.svg" alt=""></li>
        <li class="item-icon"><img class="img" src="../assets/google-plus.svg" alt=""></li>
        <li class="item-icon"><img class="img" src="../assets/youtube.svg" alt=""></li>
      </ul>
    </div>
 </footer>
  <script src="../js/data.js"></script>
  <script src="../js/index.js"></script>
</body>

</html>