body {
  margin: 0;
}
a {
  text-decoration: solid;
}
ul {
  list-style: none;
  li {
    float: left;
  }
}

h3 {
  margin: 0;
}
p {
  margin: 0;
}
input[type="checkbox"] {
  display: none;
}

button {
  background: transparent;
  border: none;
}
