.main__nav {
    height: 100px;
    background: white;

    &--center {
        width: 29%;
        display: flex;
        justify-content: center;
        margin: auto;
        height: auto;

        .nav-list__wrapper {
            margin: 0;
        }

        .nav-list__center {
            display: flex;
            align-items: center;
            position: relative;
            justify-content: space-between;
            height: auto;
            margin: 0;

            .nav-list__item {
                width: 100%;
                color: white;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 28px;
                font-family: $questrial;

                a {
                    color: #a3a3a3;
                }

                &--active {
                    background-color: $color-pink-ff;

                    a {
                        color: $color-white-ff;
                        font-family: $questrial;
                    }
                }

                &:hover {
                    background-color: $color-pink-ff;

                    a {
                        color: $color-white-ff;
                    }
                }

            }

        }
    }
}

.nav-list {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    height: 100px;
    .wrapper-icon {
        margin-left: 9%;
    }

    .nav-list__item {
        width: 100%;
        color: white;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 28px;
        font-family: $questrial;

        a {
            color: #a3a3a3;
        }

        &--active {
            background-color: $color-pink-ff;

            a {
                color: $color-white-ff;
                font-family: $questrial;
            }
        }

        &:hover {
            background-color: $color-pink-ff;

            a {
                color: $color-white-ff;
            }
        }

    }

    .nav-list__search {
        position: relative;
        width: 158px;
        margin-right: 30px;
        margin-left: 46px;
    }
}

.nav-list__wrapper-mobil {
    display: none;

    .nav-list__item {
        width: 83%;
    }

    .nav-list-mobil {
        .closed {
            display: flex;
            justify-content: flex-end;
            text-align: center;
            position: relative;
            height: 40px;
            width: 100%
        }

        background: white;
        height: 100%;
        position: fixed;
        right: -197px;
        top: 0;
        margin: 0;
        padding: 36px 24px 0 0;
        width: 49%;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        left: 100%;

        &.actived {
            left: 48%;
        }
    }
}